@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");

:root {
  --Almost-White: hsl(0, 0%, 98%);
  --Medium-Gray: hsl(0, 0%, 41%);
  --Almost-Black: hsl(0, 0%, 8%);
  --read-title: 95px;
  --extraBig-fontSize: 2.5rem;
  --big-fontSize: 2.5rem;
  --normal-fontSize: 1rem;
  --small-fontSize: 0.85rem;
  --smaller-fontSize: 0.75rem;
  --tiny-fontSize: 0.65rem;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Epilogue", sans-serif;
}
.hero {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
}
.hero__nav {
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3.5rem;
  gap: 4rem;
  overflow: hidden;
}
.nav__menu {
  flex: 1;
  display: flex;
  gap: 2.5rem;
}
.menu__item {
  text-decoration: none;
  color: var(--Medium-Gray);
  padding: 10px 15px;
  border-radius: 10px;
  transition: 0.3s background ease-in-out;
  opacity: 0.7;
  position: relative;
}
.menu__item:hover {
  opacity: 1;
}
.menu__item:hover > .menu__dropdown {
  visibility: visible;
  opacity: 1;
}
.menu__item > span {
  font-weight: 700;
}
.menu__item > img {
  transition: 0.3s transform ease-in-out;
}
.menu__item:hover > img {
  transform: rotate(180deg);
}
.menu__dropdown {
  position: absolute;
  padding: 1rem 0.5rem;
  display: flex;
  flex-direction: column;
  visibility: hidden;
  opacity: 0;
  gap: 0.5rem;
  left: 50%;
  border-radius: 10px;
  transform: translateX(-50%);
  background: #fff;
  box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.1);
  transition: 0.3s opacity ease-in-out;
}
.dropdown__item {
  display: flex;
  gap: 1.2rem;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 10px;
  transition: 0.3s background ease-in-out;
  white-space: nowrap;
  font-size: 14px;
  color: var(--Almost-Black);
}
.dropdown__item:hover {
  background: rgba(0, 0, 0, 0.03);
}
.nav__actions {
  display: flex;
  gap: 1rem;
}
.nav__actions > .actions__btn {
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 10px;
  color: var(--Medium-Gray);
}
.cta {
  border: 2px solid var(--Medium-Gray);
}
.hero__section {
  height: calc(100vh - 75px);
  padding: 5rem 10rem 10rem;
  display: flex;
  flex-direction: row;
  gap: 10rem;
  justify-content: space-between;
}
.section__read {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 3rem;
}
.read__title {
  font-size: var(--read-title);
}
.read__paragraph {
  font-size: var(--normal-fontSize);
  color: var(--Medium-Gray);
  line-height: 1.5;
}
.read__more {
  padding: 15px 20px;
  border-radius: 10px;
  font-weight: 700;
  color: var(--Almost-Black);
  border: 2px solid var(--Almost-Black);
  text-decoration: none;
  transition: 0.3s background ease-in-out;
}
.read__more:hover {
  background: var(--Almost-Black);
  color: #fff;
}
.section__auspicious {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}
.section__ilustration > img {
  height: 100%;
}
.hero__nav--mobile {
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  backdrop-filter: blur(5px);
  right: -100vw;
  transition: 0.3s ease-in-out right;
}
.nav--mobile {
  background: #fff;
  height: 100%;
  width: 70%;
  float: right;
  padding: 2rem;
}
.mobile__menu {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.nav--mobile > label {
  float: right;
}
.menu__dropdown--mobile > .menu__dropdown--title {
  padding: 10px 15px;
  border-radius: 10px;
  display: block;
  font-size: var(--normal-fontSize);
}
.dropdown--container {
  background-color: rgba(0, 0, 0, 0.02);
  margin-left: 1.5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-radius: 10px;
  display: none;
}
.dropdown__container--item {
  padding: 10px 15px;
  text-decoration: none;
  color: var(--Almost-Black);
  border-radius: 10px;
  font-size: var(--small-fontSize);
}
.icon {
  display: flex;
  gap: 0.7rem;
  align-items: center;
}
.dropdown__container--item:hover {
  background: rgba(0, 0, 0, 0.07);
}
#check__menu-1:checked + .dropdown--container {
  opacity: 1;
  display: block;
}
.dropdown--container {
  opacity: 0;
  transition: 0.3s all ease-in-out;
}
#check__menu-2:checked + .dropdown--container {
  opacity: 1;
  display: block;
}
#check__menu-1,
#check__menu-2 {
  display: none;
}
.menu__dropdown--title:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
.visible {
  right: 0;
  transition: 0.3s ease-in-out right;
}
.menu__control {
  display: none;
}
@media screen and (max-width: 375px) {
  :root {
    --read-title: 45px;
    --extraBig-fontSize: 2rem;
    --big-fontSize: 2rem;
    --normal-fontSize: 0.9rem;
    --small-fontSize: 0.75rem;
    --smaller-fontSize: 0.65rem;
    --tiny-fontSize: 0.55rem;
  }
  .hero__section {
    flex-direction: column-reverse;
    justify-content: center;
    padding: 1rem 0 4rem;
    gap: 1rem;
    overflow: hidden;
  }
  .section__ilustration > img {
    width: 100%;
  }
  .section__read {
    align-items: center;
    text-align: center;
    gap: 0.7rem;
    padding: 0.5rem;
  }
  .section__auspicious {
    flex-wrap: wrap;
  }
  .nav__menu {
    display: none;
  }
  .nav__actions {
    display: none;
  }
  .hero__nav {
    padding: 0 1rem;
  }
  .menu__control {
    display: block;
  }
}
